/* Hiker's Guide CSS
================================================== 
================================================== */

html {
    /* Set Font Size to 10 */
    font-size: 62.5%;
}
#features img {
    width: 100%;
}
body {
    /* Set Font to match Syle Guide "Program OT" along with color, and background color */
    color: #888888;
    font: 1.4rem 'Program OT', Arial, sans-serif;
    background-color: #222222;
}
h1, h2, h3 {
    /* Set all Headers up to h3 to uppercase */
    text-transform: uppercase;
}
h3, h4, h5 {
    /* Set to bold due to style guide */
    font-weight: bold;
}
h2 {
    font-weight: 800;
    font-size: 3.5rem; /* 35px */
}
h3 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #cccccc;
}
h4 {
    font-size: 1.8rem;
    color: #aaaaaa;
}
h5 {
    font-size: 1.4rem;
    color: #aaaaaa;
}
footer {
    background-color: black;
    height: 5rem;
}
.right, .left {
    padding-top: 1rem;
    text-align: center;
}
.right ul {
    text-align: center;
}
.right li {
    display: inline-block;
    font-size: 0;
}
.left li {
    display: inline-block;
    border-right: 1px solid gray;
    padding-right: .5rem;
}
.left li a {
    color: gray;
}
.left li:nth-of-type(4) {
    border: none;
}
/* Navigation */

header h1 {
    float: left;
    padding-top: 2rem;
}
header article {
    clear: right;
}
nav {
    float: right;
    margin-bottom: 12rem;
}
nav li {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 6rem;
    padding-right: 1rem;
    border-right: .1rem solid #aaaaaa;
    text-transform: uppercase;
    opacity: 50%;
}
nav li a {
    color: #aaaaaa;
}
nav li a:hover {
    color: white;
}
nav li .active {
    color: white;
}
/* CTA Starting Here */
section, .wrapper {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}
#bg-index, #bg-blog {
    background: #222222 url('https://raw.githubusercontent.com/chasehoff/chasehoff.github.io/master/images/hikers1001.jpg') no-repeat top center;
    background-size: 100% auto;
    padding-bottom: 15rem;
}
#blog-welcome {
    clear: right;
}
#blog-welcome h3{
    text-align: center;
    text-transform: capitalize;
    color: #222222;
}
#locations {
    position: relative;
    width: 60%;
    margin-left: 35%;
    margin-right: 5%;
    background-color: #111111;
    padding: 1rem;
    clear: right;
    border-right: 4px solid #1abc9c;
}
#locations h2, h3, p {
    text-align: left;
}
#locations h2 {
    width: 80%;
    margin-top: 1rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
#locations h3 {
    text-transform: capitalize;
    text-align: left;
    padding-top: 1.5rem;
}
#locations p {
    padding-bottom: .5rem;
}
.pagination {
    position: absolute;
    bottom: 3.5rem;
    right: .2rem;
}
.pagination button {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 0;
    margin-bottom: .5rem;
}
.pagination li:first-of-type button, .pagination li:last-of-type button {
    width: 4rem;
    height: 4rem;
    top: calc(50% - 2rem);
}
.pagination li:first-of-type button {
    position: absolute;
    left: 10rem;
}
.pagination li:last-of-type button {
    position: absolute;
    right: 98rem;
}
/* Blog Posts are starting here */
#features {
    max-width: none;
    background: #222222;
}
#features h3 {
    text-align: left;
}
#features .wrapper::before {
    content:'';
    display: block;
    width: 70%;
    height: 12rem;
    background: url('https://raw.githubusercontent.com/chasehoff/chasehoff.github.io/master/images/mountain.png') no-repeat left bottom;
    background-size: 100% auto;
    position: absolute;
    bottom: calc(100% - 2px);
}
section::after {
    content: '';
    display: block;
    clear: left;
}
#features article {
    width: calc(100%/3 - 6rem/3);
    background-color: #111111;
    padding: 2rem;
    float: left;
    margin-bottom: 3rem;
}
.read-more {
    color: white;
    background-color: #1abc9c;
    padding: .8rem;
    border-bottom: 4px solid #16a085;
}
#features article p {
    padding-bottom: 2rem;
}
#features article:nth-of-type(3n+4){
    clear: left;
}
#features article:not(:nth-of-type(3n+3)){
    margin-right: 3rem;
}
#features button { /* Center View More Button */
    clear: left;
    display: block;
    margin: 0 auto;
    background-color: #222222;
    padding: .8rem;
    color: #888888;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #888888;
}


/* Join the Adventure */
#bg-adventure {
    margin-top: 4rem;
    background: #222222 url('https://raw.githubusercontent.com/chasehoff/chasehoff.github.io/master/images/hikers1001.jpg') no-repeat top center;
}
.cover {
    background-color: rgba(26, 188, 156, .6);
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#adventure, h3, p, blockquote {z-index: 3;}
#adventure {
    padding: 8rem;
}
#adventure p {
    font-style: italic;
}
#adventure h3, blockquote {
    text-align: left;
}
#adventure h5 {
    z-index: 4;
    background-image: url('/images/twitter.png');
    height: 3rem;
    width: 3rem;
}
#signup {
    background-color: #111111;
    margin-bottom: 4rem;
    color: white;
}
#signup p {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
    background-color: #333333;
    border-top: 1rem solid #111111;
}
#signup a {
    color: #1abc9c;
    font-weight: bold;
}


/* Hikers, Events, About US CSS */
#misc #events, #new-hikers {
    width: 30%;
    float: left;
    padding-left: 5rem;
}
#misc #about {
    width: 40%;
    float: left;
}
footer .left, .right {
    width: calc(100%/2);
    float: left;
}
#misc h2 {
    font-size: 1.8rem;
    border-bottom: 1px solid gray;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
#misc {
    padding-bottom: 5rem;
}
#events article {
    padding-bottom: 2rem;
}
#hikers li {
    padding-bottom: 4rem;
    background: url('https://raw.githubusercontent.com/chasehoff/chasehoff.github.io/master/images/user.png') no-repeat center left;
    background-size: 4rem 4rem;
    background-position: 0 0;
    padding-left: 5rem;
}

#about h6 {
    font-weight: bold;
    color: gray;
}
/* Contact Page */

/*              Events Page             */
/*                                      */
/*                                      */

#event img {
    width: 100%;
}
#events-welcome h2, h3 {
    text-align: center;
}
#events-welcome {
    padding-bottom: 10rem;
}
#event article {
    width: calc(100%/3 - 6rem/3);
    background-color: #111111;
    padding: 2rem;
    float: left;
    margin-bottom: 3rem;
    height: 57.5rem;
}
#event article:nth-of-type(3n+4){
    clear: left;
}
#event article:not(:nth-of-type(3n+3)){
    margin-right: 3rem;
}

/*                                          */
/*               Blog Page                  */
/*                                          */
#bg-blog {
    background: #222222 url('https://raw.githubusercontent.com/chasehoff/chasehoff.github.io/master/images/hikers1002.jpg') no-repeat top center;
}
#blog-welcome h2 {
    text-align:  center;
    padding-top: 12 rem;
}
#blog-welcome h3 {
    text-align: center;
}
main ul {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
main ul li {
    display: inline-block;
    padding-right: .8rem;
    text-transform: uppercase;
}
main ul li a {
    color: #cccccc;
}
main img {
    width: 100%;
}

/*========== Blog Section ==========*/
.timeline h3 {
    text-align: center;
    margin-bottom: 4rem;
    font-weight: normal;
    border-bottom: 1px solid gray;
}
.timeline ul li {
    display: inline-block;
}
.timeline article {
    width: calc(100%/2 - 10rem/2);
    background-color: #111111;
    padding: 2rem;
    float: left;
    margin-bottom: 3rem;
    height: 57.5rem;
}
.timeline article:nth-of-type(2n+3){
    clear: left;
}
.timeline article:not(:nth-of-type(2n+2)){
    margin-right: 10rem;
}
/*                                          */
/*              Contact Page                */
/*                                          */
#bg-contact {
    background: #16a085 url('/images/hikers1003.jpg') no-repeat top center;
    background-size: 100% auto;
}
#bg-contact h2 {
    clear: right;
}
#bg-contact h3 {
    padding-bottom: 10rem;
}
#contact-us {
    margin-top: 3rem;
}
#contact-us h2 {
    text-align: center;
    text-transform: capitalize;
}
form {
    width: calc(70% - 2rem);
    background-color: #333333;
}
form p {
    display: inline-block;
}
input {
    font-size: 1.8rem;
    border: 2px solid #16a085;
    margin-bottom: 2rem;
    width: 100%;
}
input[name=fName], input[name=email], input[name=message] {
    margin-right: 1rem;
    margin-left: 2rem;
    clear: right;
}
input[name=message] {
    width: 47.3rem;
    height: 15rem;
    text-align: start;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
input[name=message] label::placeholder{
    text-align: start;
}
input[name=fName], input[name=lName], input[name=email], input[name=company], input[name=message] {
    float: left;
    overflow: auto;
}
form label {
    font-size: 0;
}
form button {
    text-align: center;
    color: white;
    background-color: #1abc9c;
    border-bottom: 4px solid #16a085;
    padding: .5rem;
    margin-left: 38%;
    margin-bottom: 2rem;
}