/* Hiker's Guide CSS
================================================== 
================================================== */

html {
    /* Set Font Size to 10 */
    font-size: 62.5%;
}
#features img {
    width: 100%;
}
body {
    /* Set Font to match Syle Guide "Program OT" along with color, and background color */
    color: #888888;
    font: 1.4rem 'Program OT', Arial, sans-serif;
    background-color: #222222;
}
h1, h2, h3 {
    /* Set all Headers up to h3 to uppercase */
    text-transform: uppercase;
}
h3, h4, h5 {
    /* Set to bold due to style guide */
    font-weight: bold;
}
h2 {
    font-weight: 800;
    font-size: 3.5rem; /* 35px */
}
h3 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #cccccc;
}
h4 {
    font-size: 1.8rem;
    color: #aaaaaa;
}
h5 {
    font-size: 1.4rem;
    color: #aaaaaa;
}
footer {
    background-color: black;
}
.right ul {
    
}
.right li {
    display: inline-block;
}
.left li {
    display: inline-block;
}
/* Navigation */

header h1 {
    float: left;
    padding-top: 2rem;
}
nav {
    float: right;
}
nav li {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 6rem;
    padding-right: 1rem;
    border-right: .1rem solid #aaaaaa;
    text-transform: uppercase;
    opacity: 50%;
}
nav li a {
    color: #aaaaaa;
}
nav li a:hover {
    color: white;
}
nav li .active {
    color: white;
}
/* CTA Starting Here */
#bg-index {
    background: #222222 url('https://raw.githubusercontent.com/chasehoff/chasehoff.github.io/master/images/hikers1001.jpg') no-repeat top center;
}
#bg-index article {
    width: 60%;
    margin-left: 40%;
    background-color: #111111;
}
header article h2, h3, p {
    text-align: left;
}
/* Blog Posts are starting here */
#features .wrapper::before {
    content: '';
    display: block;
    width: 50%;
    background: url('https://raw.githubusercontent.com/chasehoff/chasehoff.github.io/master/images/mountain.png') no-repeat left top;
    background-size: 100% auto;
    position: absolute;
    bottom: calc(100%-2px);
    left: -10rem;
}
section, .wrapper {
    max-width: 900px;
    margin: 0 auto;
}
section::after {
    content: '';
    display: block;
    clear: left;
}
#features article {
    width: calc(100%/3 - 6rem/3);
    background-color: #111111;
    padding: 2rem;
    float: left;
    margin-bottom: 3rem;
    height: 57.5rem;
}
#features article:nth-of-type(3n+4){
    clear: left;
}
#features article:not(:nth-of-type(3n+3)){
    margin-right: 3rem;
}
#features button { /* Center View More Button */
    display: block;
    margin: 0 auto;
    background-color: #222222;
    padding: .8rem;
    color: #888888;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #888888;
}


/* Join the Adventure */
#bg-adventure {
    margin-top: 4rem;
    background: #222222 url('https://raw.githubusercontent.com/chasehoff/chasehoff.github.io/master/images/hikers1001.jpg') no-repeat top center;
}
#adventure {
    padding: 8rem;
}
#adventure h3, blockquote {
    text-align: left;
}
#signup {
    background-color: #111111;
    margin-bottom: 4rem;
}
#signup p {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
    background-color: #333333;
}
#signup a {
    color: #1abc9c;
    font-weight: bold;
}


/* Hikers, Events, About US CSS */
#misc #events, #new-hikers {
    width: 30%;
    float: left;
    padding-left: 5rem;
}
#misc #about {
    width: 40%;
    float: left;
}
footer .left, .right {
    width: calc(100%/2);
    float: left;
}
#misc h2 {
    font-size: 1.8rem;
    border-bottom: 1px solid gray;
}
/* Contact Page */

/*              Events Page             */
/*                                      */
/*                                      
#event img {
    width: 100%;
}
#event article {
    width: calc(100%/3 - 6rem/3);
    background-color: #111111;
    padding: 2rem;
    float: left;
    margin-bottom: 3rem;
    height: 57.5rem;
}
#event article:nth-of-type(3n+4){
    clear: left;
}
#event article:not(:nth-of-type(3n+3)){
    margin-right: 3rem;
}

/*                                          */
/*               Blog Page                  */
/*                                          */
#bg-blog {
    background: #222222 url('https://raw.githubusercontent.com/chasehoff/chasehoff.github.io/master/images/hikers1002.jpg') no-repeat top center;
}
#blog-welcome h2 {
    text-align:  center;
    padding-top: 12 rem;
}

main ul {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
main ul li {
    display: inline-block;
    padding-right: .8rem;
    text-transform: uppercase;
}
main ul li a {
    color: #cccccc;
}
main li:first-of-type, li:nth-of-type(2) {
    border-right: 1px solid gray;
} 
main img {
    width: 100%;
}

/*========== Blog Section ==========*/
.timeline h3 {
    text-align: center;
    margin-bottom: 4rem;
    font-weight: normal;
    border-bottom: 1px solid gray;
}
.timeline ul li {
    display: inline-block;
}
.timeline article {
    width: calc(100%/2 - 10rem/2);
    background-color: #111111;
    padding: 2rem;
    float: left;
    margin-bottom: 3rem;
    height: 57.5rem;
}
.timeline article:nth-of-type(2n+3){
    clear: left;
}
.timeline article:not(:nth-of-type(2n+2)){
    margin-right: 10rem;
}